.container {
    display: flex;
    padding: 0px 40px 0px 40px;
    gap: 80px;
    width: 100%;
    .Filter {
        margin-top: 120px;
        .dropdown-item {
            color: white;
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: "GT Regular";
            font-size: 1.2em;
            margin-bottom: 10px;
            cursor: pointer;

        }

        .list-group {
            gap: 20px;
        }

    }

    .containerAllItem {
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 25px;


        .Item {
            margin-bottom: 25px;
            border: 1px solid rgb(238, 238, 238);
            max-width: 240px;
            background-color: #202020;
            grid-column: auto;
            border: 1px transparent;
            border-radius: 12px;
            transition: 0.3s all;
            height: 260px;
            transition: transform 0.3s ease;

            .imageItem {
                img {
                    width: 100%;
                    height: auto;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                }
            }

            .itemDetail {
                text-align: center;
                margin-top: 12px;

                .detailButton {
                    width: 200px;
                    border: 1px solid rgb(152, 147, 147);
                    padding: 6px 20px;
                    color: white;

                }
            }
        }
    }
}

.Item:hover {
    transform: scale(1.05);
}


a {
    text-decoration: none;
}

img {
    width: 30px;
    height: auto;
}

.Icin {
    display: flex;
}

.containerShop {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1,
h2 {
    font-weight: bold;
}